# fly.toml app configuration file generated for mega-md-sda4tw on 2026-02-23T13:45:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mega-md-sda4tw'
primary_region = 'dfw'

[build]

[processes]
  app = 'node ./dbsetup.js npm start'

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
